.pagination {
    width: 100%;
    height: auto;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    list-style: none;
    .numberPage {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid $color-light-50;
        color: $color-light;

        &:hover {
            background-color: $color-light;
            color: $color-dark-100;
        }
        &.active {
            background-color: $color-light;
            color: $color-dark-100;
        }
    }
    .dotsPage {
        & + .numberPage {
            width: 50px;
        }
    }
    .btn-prev,
    .btn-next {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid $color-light-50;
        color: $color-light;
        &:hover {
            background-color: $color-light;
            color: $color-dark-100;
        }
    }
}
