#search-page {
    width: 100%;
    min-height: 100vh;
    padding: 4rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-form {
        display: flex;
        gap: 12px;
        transition: transform 0.5s ease-in-out;
        input {
            outline: none;
            border: none;
            width: 40vw;
            height: 50px;
            padding: 0 2rem;
            border-radius: 0.75rem;
            background-color: $color-light;
            color: $color-dark-100;
            font-size: 1rem;
            box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.603);
            transition: all 0.5s ease-in-out;
            &::placeholder {
                color: $color-dark-100;
            }
            &:focus {
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.603);
            }
        }
        .btn-search {
            cursor: pointer;
            padding: 0 1.25rem;
            border-radius: 0.75rem;
            border: none;

            font-size: 0.86rem;
            font-weight: 700;

            position: relative;
            overflow: hidden;
            color: $color-dark-25;
            -webkit-background-clip: text;
            background-clip: text;

            transition: all 0.5s ease-in-out;
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: linear-gradient(132deg, rgba(221, 221, 221, 1) 40%, rgba(44, 57, 75, 0.76) 79%);
                transition: 0.5s ease-in-out;
            }

            &:hover {
                font-weight: 700;
                background: $color-dark-100;
                box-shadow: 0px 0px 16px 0px rgb(221, 221, 221);
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }

            &:hover::before {
                width: 280%;
                background: rgb(221, 221, 221);
                background: linear-gradient(132deg, rgba(221, 221, 221, 1) 40%, rgba(44, 57, 75, 1) 79%);
            }
        }
    }
}
